<html>
	<body>

		<!-- formulaire ou partie de formulaire a cloner-->


			<div id="subFormulaire">
				<!-- potential subform with btn add user -->
			</div>
			<input type="submit" />
				</form>
			<button id="btn" >Ajouter un Etudiant</button>
		<script type="text/javascript" src="./addform.js"></script>
	</body>
</html>